* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue {
  color: rgb(0, 179, 255);
}
.orange {
  color: orange;
}
$lazydark: rgba(255, 255, 255, 0.051);
$lazyline: rgba(0, 0, 0, 0.051);

.dark {
  color: white;
  background-color: black;
}
.light {
  //   background-color: #efefef;
  background-color: rgb(250, 253, 246);

  color: black;
}

.App {
  @include flex;
  height: 100vh;
  width: 100%;
  padding: 5px 5px;
}
.content {
  // background: white;
  padding: 0 0;
  //   border: 1px solid white;
  // border: 1px solid black;
  border-radius: 25px;
  height: 100vh;
  width: 100%;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@mixin blurry {
  width: 100%;
  height: 35px;
  border-radius: 12px;
  //   background: $lazyline;
  //   backdrop-filter: blur(5px);
}
.blurry-light {
  @include blurry;
  background: $lazyline;
}
.blurry-dark {
  @include blurry;
  background: $lazydark;
}

header {
  // @include blurry;
  width: 100%;
  border-bottom: 1px solid $lazyline;
  height: min(6%, 45px);
  @include flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.4rem;
  color: gold;
}
.switch {
  padding: 0 10px;
}
p {
  @include flex;
  .icon {
    font-size: calc(1.4rem + 6px);
  }
}
b {
  color: red;
  font-size: calc(1.4rem + 5px);
}

footer {
  //   @include blurry;
  width: 100%;
  @include flex;
  gap: 2%;
  justify-content: start;
  height: min(6%, 45px);
  .cats {
    // @include blurry;
    min-width: 35%;
    @include flex;
    &:hover{
      background-color: rgba(255, 215, 0, 0.139);
      p{
        cursor: grab;
        color: gold;
      }
    }
  }
  overflow-x: auto;
 
  overflow-y: hidden;
  scrollbar-width: none;
}
main {
  padding: 0 0 0 2.2%;
  @include flex;
  justify-content: start;
  // @include blurry;
  gap: 30px;
  height: 80%;
  width: 100%;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.card {
  // animation: autoscroll 10s ease both infinite;
  // @include blurry;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
  //   padding: 0px 5px;
  height: 100%;
  min-width: 350px;
  img {
    width: 100%;
    height: 100%;
    padding: 4px 4px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.xx {
  background: red;
}
.cardheading {
  @include flex;
  //   @include blurry;

  // height: 8%;
  height: 15%;
  overflow: auto;
  scrollbar-width: none;
  text-align: justify;
  padding: 1% 2%;
}
.cardimg {
  //   @include blurry;
  @include flex;
  height: 34%;
}
.cardbody {
  //   @include blurry;
  width: 100%;
  border-radius: 16px;
  height: 48%;
  padding: 2% 3%;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cardend {
  width: 100%;
  @include flex;
  a {
    //   @include blurry;
    @include flex;
    width: 50%;
    color: red;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 2px 9px;
  }
}
.credits {
  width: 100%;
  text-align: center;
  color: $lazyline;
  height: 1%;
}

.notFound {
  margin: auto;
  width: 40%;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 8rem;
  color: #ff3c3c73;
}
@keyframes autoscroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skele {
  animation: loading 2s ease 0s infinite forwards;
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 1;
    transform: scale(1);

  }
  50% {
    opacity: 0;
    transform: scale(0.8);

  }
  75% {
    opacity: 1;
    transform: scale(1);

  }
}
.pending{
  opacity:1;
  background-color: yellow;;
}