* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  color: rgb(0, 179, 255);
}

.orange {
  color: orange;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  background-color: rgb(250, 253, 246);
  color: black;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 5px 5px;
}

.content {
  padding: 0 0;
  border-radius: 25px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.blurry-light {
  width: 100%;
  height: 35px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.051);
}

.blurry-dark {
  width: 100%;
  height: 35px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.051);
}

header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.051);
  height: min(6%, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1.4rem;
  color: gold;
}

.switch {
  padding: 0 10px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}
p .icon {
  font-size: calc(1.4rem + 6px);
}

b {
  color: red;
  font-size: calc(1.4rem + 5px);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  justify-content: start;
  height: min(6%, 45px);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
footer .cats {
  min-width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .cats:hover {
  background-color: rgba(255, 215, 0, 0.139);
}
footer .cats:hover p {
  cursor: grab;
  color: gold;
}

main {
  padding: 0 0 0 2.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 30px;
  height: 80%;
  width: 100%;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 350px;
}
.card img {
  width: 100%;
  height: 100%;
  padding: 4px 4px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.xx {
  background: red;
}

.cardheading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  overflow: auto;
  scrollbar-width: none;
  text-align: justify;
  padding: 1% 2%;
}

.cardimg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34%;
}

.cardbody {
  width: 100%;
  border-radius: 16px;
  height: 48%;
  padding: 2% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardend a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: red;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 2px 9px;
}

.credits {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.051);
  height: 1%;
}

.notFound {
  margin: auto;
  width: 40%;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 8rem;
  color: rgba(255, 60, 60, 0.4509803922);
}

@keyframes autoscroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.skele {
  animation: loading 2s ease 0s infinite forwards;
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
}
.pending {
  opacity: 1;
  background-color: yellow;
}/*# sourceMappingURL=index.css.map */